body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.92);
  background-image: url("https://i.goopics.net/3kyLm.jpg");
  height: 100%;
  background-position: center;title
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.presentation {
  margin: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Monk Paladin Berzerker Assassin Fighter"
    "a b c d e"
    ". . . . .";
}
.Monk { grid-area: Monk; }
.Paladin { grid-area: Paladin; }
.Berzerker { grid-area: Berzerker; }
.Assassin { grid-area: Assassin; }
.Fighter { grid-area: Fighter; }
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }


.bg{
  background-color: rgba(0, 0, 0, 1);
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}

.btn{
  text-align: center;
  margin: 100px 50px 50px 50px;
  padding: 10px;
  width: 250px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: 1px solid white;
}

.btn:hover{
  color: black;
  background-color: rgba(194, 194, 194, 1);
}

.title{
  font-size: 2em;
  text-align: center;
  text-shadow: white 0.1em 0.1em 0.1em
}

.leadhead{
  font-size: 1em;
  text-align: center;
  font-style: italic;
}

.special{
  font-size: 1em;
  font-weight: bold;
}

.nameClass{
  font-size: 1.2em;
  font-weight: bold;
}
